tr bgcolor=capacity_color(disk)
  td
    = link_to disk.unit_to_hex.upcase, disk_path(disk.id)
  td = disk.volume
  td = link_to disk.group.name, group_path(disk.group) if disk.group
  td
    = disk.custom_capacity('GB')
    |  GB
  td bgcolor=utilization_color(disk)
    = disk.utilization
  td = disk.pprc_secondary
  td = disk.dtap
  td = disk.added_at
  td = disk.department.name if disk.department
  td = disk.content.name if disk.content
  td = disk.software.name if disk.software
  td
    - disk.systems.each do |system|
      li
        = system.name
  td = disk.owner.name