= form_with model: @disk do |f|
  div class='col-xs-4'
    = f.label :unit
    = f.text_field :unit, id: 'disk_unit', class: 'form-control'
    br
    = f.label :volume
    = f.text_field :volume, id: 'disk_volume', class: 'form-control'
    br
    = f.label :group_id
    = f.select :group_id, Group.all.collect {|d| [d.name, d.id]}, {}, {class: 'form-control'}
    br
    = f.label :capacity
    = f.text_field :capacity, id: 'disk_capacity', class: 'form-control'
    br
    = f.label :utilization
    = f.text_field :utilization, id: 'disk_utilization', class: 'form-control'
    br
    = f.label :pprc_secondary
    = f.text_field :pprc_secondary, id: 'disk_pprc_secondary', class: 'form-control'
    br
    = f.label :dtap
    = f.select :dtap, Disk::DTAP, {}, {class:'form-control'}
    br
    = f.label :added_at
    = f.date_field :added_at, placeholder: 'date', class: 'form-control', :value => Time.now.strftime('%Y-%d-%m')
    br
    = f.label :department_id
    = f.select :department_id, Department.all.collect {|d| [ d.name, d.id ] }, {}, {class:'form-control'}
    br
    = f.label :content_id
    = f.select :content_id, Content.all.collect {|d| [ d.name, d.id ] }, {}, {class:'form-control'}
    br
    = f.label :owner_id
    = f.select :owner_id, Owner.all.collect {|d| [d.name, d.id]}, {}, {class:'form-control'}
    br
    = f.label :software_id
    = f.select :software_id, Software.all.collect {|d| [d.name, d.id]}, {}, {class:'form-control'}
    br
    = f.label :system_id

    div class="[ form-group ]"
      = f.collection_check_boxes :system_ids, System.all, :id, :name, :include_hidden => false do |s|
        br
        = s.check_box id: "disk_system_ids_#{s.value}", autocomplete: "off"
        div class="[ btn-group ]"
          label for="disk_system_ids_#{s.value}" class="[ btn btn-default ]"
            span class="[ glyphicon glyphicon-plus ]"
            span class="[ glyphicon glyphicon-minus ]"
          = s.label for: "disk_system_ids_#{s.value}", class: "[ btn btn-default active ]"

    br
    = f.submit class:'btn btn-success'


