<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">
  <Styles>
    <Style ss:ID="s3">
      <Interior ss:Color="#FFFFFF" ss:Pattern="Solid"/>
      <Borders>
       <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
       <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
       <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
       <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
      </Borders>
    </Style>
    <Style ss:ID="s9">
      <Interior ss:Color="#FF99CC" ss:Pattern="Solid"/>
      <Borders>
       <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
       <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
       <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
       <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
      </Borders>
    </Style>
    <Style ss:ID="s27">
      <Interior ss:Color="#FFCC99" ss:Pattern="Solid"/>
      <Borders>
       <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
       <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
       <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
       <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
      </Borders>
    </Style>
    <Style ss:ID="s54">
      <Interior ss:Color="#FFCC00" ss:Pattern="Solid"/>
      <Borders>
       <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
       <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
       <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
       <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
      </Borders>
    </Style>
    <Style ss:ID="free">
      <Interior ss:Color="#66FF66" ss:Pattern="Solid"/>
      <Borders>
       <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
       <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
       <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
       <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
      </Borders>
    </Style>
    <Style ss:ID="utilMed">
      <Interior ss:Color="#F0FF00" ss:Pattern="Solid"/>
      <Borders>
       <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
       <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
       <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
       <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
      </Borders>
    </Style>
    <Style ss:ID="utilHigh">
      <Interior ss:Color="#FF0000" ss:Pattern="Solid"/>
      <Borders>
       <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
       <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
       <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
       <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
      </Borders>
    </Style>
  </Styles>
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">unit</Data></Cell>
        <Cell><Data ss:Type="String">volume</Data></Cell>
        <Cell><Data ss:Type="String">sms group</Data></Cell>
        <Cell><Data ss:Type="String">capacity</Data></Cell>
        <Cell><Data ss:Type="String">utilization</Data></Cell>
        <Cell><Data ss:Type="String">pprc secondary</Data></Cell>
        <Cell><Data ss:Type="String">dev/test/acc/prod</Data></Cell>
        <Cell><Data ss:Type="String">added at</Data></Cell>
        <Cell><Data ss:Type="String">department</Data></Cell>
        <Cell><Data ss:Type="String">content</Data></Cell>
        <Cell><Data ss:Type="String">software</Data></Cell>
        <Cell><Data ss:Type="String">system</Data></Cell>
        <Cell><Data ss:Type="String">owner</Data></Cell>
      </Row>
      <% @disks.each do |disk| %>
        <Row>
          <% case disk.capacity
             when 4000001..10000000 %>
            <Cell ss:StyleID="s9"><Data ss:Type="String"><%= disk.unit_to_hex.upcase %></Data></Cell>
            <% if disk.empty? %>
             <Cell ss:StyleID="free"><Data ss:Type="String"><%= disk.volume %></Data></Cell>
            <% else %>
             <Cell ss:StyleID="s9"><Data ss:Type="String"><%= disk.volume %></Data></Cell>
            <% end %>
            <Cell ss:StyleID="s9"><Data ss:Type="String"><%= disk.group.name if disk.group %></Data></Cell>
            <Cell ss:StyleID="s9"><Data ss:Type="Number"><%= disk.custom_capacity('GB') %></Data></Cell>
            <% if disk.utilization.between?(70,90) %>
             <Cell ss:StyleID="utilMed"><Data ss:Type="Number"><%= disk.utilization %></Data></Cell>
            <% elsif disk.utilization.between?(91,100) %>
             <Cell ss:StyleID="utilHigh"><Data ss:Type="Number"><%= disk.utilization %></Data></Cell>
            <% else%>
             <Cell ss:StyleID="s9"><Data ss:Type="Number"><%= disk.utilization %></Data></Cell>
            <% end %>
            <Cell ss:StyleID="s9"><Data ss:Type="String"><%= disk.pprc_secondary %></Data></Cell>
            <Cell ss:StyleID="s9"><Data ss:Type="String"><%= disk.dtap %></Data></Cell>
            <Cell ss:StyleID="s9"><Data ss:Type="String"><%= disk.added_at %></Data></Cell>
            <Cell ss:StyleID="s9"><Data ss:Type="String"><%= disk.department.name if disk.department %></Data></Cell>
            <Cell ss:StyleID="s9"><Data ss:Type="String"><%= disk.content.name if disk.content %></Data></Cell>
            <Cell ss:StyleID="s9"><Data ss:Type="String"><%= disk.software.name if disk.software %></Data></Cell>
            <Cell ss:StyleID="s9"><Data ss:Type="String"><%= disk.systems.map{|s| s.name}.join(' ') %></Data></Cell>
            <Cell ss:StyleID="s9"><Data ss:Type="String"><%= disk.owner.name %></Data></Cell>
          <% when 10000001..28000000 %>
            <Cell ss:StyleID="s27"><Data ss:Type="String"><%= disk.unit_to_hex.upcase %></Data></Cell>
            <% if disk.empty? %>
              <Cell ss:StyleID="free"><Data ss:Type="String"><%= disk.volume %></Data></Cell>
            <% else %>
              <Cell ss:StyleID="s27"><Data ss:Type="String"><%= disk.volume %></Data></Cell>
            <% end %>
            <Cell ss:StyleID="s27"><Data ss:Type="String"><%= disk.group.name if disk.group %></Data></Cell>
            <Cell ss:StyleID="s27"><Data ss:Type="Number"><%= disk.custom_capacity('GB') %></Data></Cell>
            <% if disk.utilization.between?(70,90) %>
              <Cell ss:StyleID="utilMed"><Data ss:Type="Number"><%= disk.utilization %></Data></Cell>
            <% elsif disk.utilization.between?(91,100) %>
              <Cell ss:StyleID="utilHigh"><Data ss:Type="Number"><%= disk.utilization %></Data></Cell>
            <% else%>
              <Cell ss:StyleID="s27"><Data ss:Type="Number"><%= disk.utilization %></Data></Cell>
            <% end %>
            <Cell ss:StyleID="s27"><Data ss:Type="String"><%= disk.pprc_secondary %></Data></Cell>
            <Cell ss:StyleID="s27"><Data ss:Type="String"><%= disk.dtap %></Data></Cell>
            <Cell ss:StyleID="s27"><Data ss:Type="String"><%= disk.added_at %></Data></Cell>
            <Cell ss:StyleID="s27"><Data ss:Type="String"><%= disk.department.name if disk.department %></Data></Cell>
            <Cell ss:StyleID="s27"><Data ss:Type="String"><%= disk.content.name if disk.content %></Data></Cell>
            <Cell ss:StyleID="s27"><Data ss:Type="String"><%= disk.software.name if disk.software %></Data></Cell>
            <Cell ss:StyleID="s27"><Data ss:Type="String"><%= disk.systems.map{|s| s.name}.join(' ') %></Data></Cell>
            <Cell ss:StyleID="s27"><Data ss:Type="String"><%= disk.owner.name %></Data></Cell>
          <% when 28000001..Float::INFINITY %>
            <Cell ss:StyleID="s54"><Data ss:Type="String"><%= disk.unit_to_hex.upcase %></Data></Cell>
            <% if disk.empty? %>
              <Cell ss:StyleID="free"><Data ss:Type="String"><%= disk.volume %></Data></Cell>
            <% else %>
              <Cell ss:StyleID="s54"><Data ss:Type="String"><%= disk.volume %></Data></Cell>
            <% end %>
            <Cell ss:StyleID="s54"><Data ss:Type="String"><%= disk.group.name if disk.group %></Data></Cell>
            <Cell ss:StyleID="s54"><Data ss:Type="Number"><%= disk.custom_capacity('GB') %></Data></Cell>
            <% if disk.utilization.between?(70,90) %>
              <Cell ss:StyleID="utilMed"><Data ss:Type="Number"><%= disk.utilization %></Data></Cell>
            <% elsif disk.utilization.between?(91,100) %>
              <Cell ss:StyleID="utilHigh"><Data ss:Type="Number"><%= disk.utilization %></Data></Cell>
            <% else%>
              <Cell ss:StyleID="s54"><Data ss:Type="Number"><%= disk.utilization %></Data></Cell>
            <% end %>
            <Cell ss:StyleID="s54"><Data ss:Type="String"><%= disk.pprc_secondary %></Data></Cell>
            <Cell ss:StyleID="s54"><Data ss:Type="String"><%= disk.dtap %></Data></Cell>
            <Cell ss:StyleID="s54"><Data ss:Type="String"><%= disk.added_at %></Data></Cell>
            <Cell ss:StyleID="s54"><Data ss:Type="String"><%= disk.department.name if disk.department %></Data></Cell>
            <Cell ss:StyleID="s54"><Data ss:Type="String"><%= disk.content.name if disk.content %></Data></Cell>
            <Cell ss:StyleID="s54"><Data ss:Type="String"><%= disk.software.name if disk.software %></Data></Cell>
            <Cell ss:StyleID="s54"><Data ss:Type="String"><%= disk.systems.map{|s| s.name}.join(' ') %></Data></Cell>
            <Cell ss:StyleID="s54"><Data ss:Type="String"><%= disk.owner.name %></Data></Cell>
          <% else %>
            <Cell ss:StyleID="s3"><Data ss:Type="String"><%= disk.unit_to_hex.upcase %></Data></Cell>
            <% if disk.empty? %>
              <Cell ss:StyleID="free"><Data ss:Type="String"><%= disk.volume %></Data></Cell>
            <% else %>
              <Cell ss:StyleID="s3"><Data ss:Type="String"><%= disk.volume %></Data></Cell>
            <% end %>
            <Cell ss:StyleID="s3"><Data ss:Type="String"><%= disk.group.name if disk.group %></Data></Cell>
            <Cell ss:StyleID="s3"><Data ss:Type="Number"><%= disk.custom_capacity('GB') %></Data></Cell>
            <% if disk.utilization.between?(70,90) %>
              <Cell ss:StyleID="utilMed"><Data ss:Type="Number"><%= disk.utilization %></Data></Cell>
            <% elsif disk.utilization.between?(91,100) %>
              <Cell ss:StyleID="utilHigh"><Data ss:Type="Number"><%= disk.utilization %></Data></Cell>
            <% else%>
              <Cell ss:StyleID="s3"><Data ss:Type="Number"><%= disk.utilization %></Data></Cell>
            <% end %>
            <Cell ss:StyleID="s3"><Data ss:Type="String"><%= disk.pprc_secondary %></Data></Cell>
            <Cell ss:StyleID="s3"><Data ss:Type="String"><%= disk.dtap %></Data></Cell>
            <Cell ss:StyleID="s3"><Data ss:Type="String"><%= disk.added_at %></Data></Cell>
            <Cell ss:StyleID="s3"><Data ss:Type="String"><%= disk.department.name if disk.department %></Data></Cell>
            <Cell ss:StyleID="s3"><Data ss:Type="String"><%= disk.content.name if disk.content %></Data></Cell>
            <Cell ss:StyleID="s3"><Data ss:Type="String"><%= disk.software.name if disk.software %></Data></Cell>
            <Cell ss:StyleID="s3"><Data ss:Type="String"><%= disk.systems.map{|s| s.name}.join(' ') %></Data></Cell>
            <Cell ss:StyleID="s3"><Data ss:Type="String"><%= disk.owner.name %></Data></Cell>
          <% end %>
        </Row>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>