table border="1"
  tr
    th unit
    th volume
    th sms group
    th capacity
    th utilization
    th pprc secondary
    th dev/test/acc/prod
    th added at
    th department
    th content
    th software
    th system
    th owner
  - @disks.each do |disk|
    tr bgcolor=capacity_color(disk)
      td class="excel_text" = disk.unit_to_hex
      td = disk.volume
      td = disk.group.name if disk.group
      td
        = disk.custom_capacity('GB')
      td bgcolor=utilization_color(disk)
        = disk.utilization
      td = disk.pprc_secondary
      td = disk.dtap
      td = disk.added_at
      td = disk.department.name if disk.department
      td = disk.content.name if disk.content
      td = disk.software.name if disk.software
      td
        - disk.systems.each do |system|
          = t("\r#{system.name}")
      td = disk.owner.name