h1 align = 'center' Disks list
div class='container-fluid'
  button class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapseDownload" aria-expanded="false" aria-controls="collapseDownload"
    |Download | Import
  div class="collapse" id="collapseDownload"
    div class="well"
      label Download:
      br
      = link_to 'Excel .xls',disks_path(format: 'xls')
      br
      = link_to 'Excel .xlsx',disks_path(format: 'xlsx')
      br
      label Import:
      br
      = form_tag import_disks_path, multipart: true do
        = file_field_tag :file
        = submit_tag "Import"
  p

    table class="table table-bordered"
      tr
        th unit
        th volume
        th sms group
        th capacity
        th utilization
        th pprc secondary
        th dev/test/acc/prod
        th added at
        th department
        th content
        th software
        th system
        th owner
        = render @disks
        = will_paginate @disks