h1 align = 'center' Add new disk
div class='container-fluid'
  = render 'disks/edit_disk', method: :post

  / = form_with model: @disk do |f|
  /   = f.text_field :unit, placeholder: 'unit'
  /   br
  /   = f.text_field :volume, placeholder: 'volume'
  /   br
  /   = f.number_field :capacity, placeholder: 'capacity'
  /   br
  /   = f.number_field :utilization, in: 0..100, placeholder: 'utilization'
  /   br
  /   = f.text_field :pprc_secondary, placeholder: 'pprc secondary'
  /   br
  /   = f.select :dtap, Disk::DTAP
  /   br
  /   = f.date_field :added_at, placeholder: 'date'
  /   br
  /   = f.select :department_id, Department.all.collect {|d| [ d.name, d.id ] }
  /   br
  /   = f.select :content_id, Content.all.collect {|d| [ d.name, d.id ] }
  /   br
  /   = f.select :owner_id, Owner.all.collect {|d| [d.name, d.id]}
  /   br
  /   = f.select :software_id, Software.all.collect {|d| [d.name, d.id]}
  /   br
  /   = f.select :system_id, System.all.collect {|d| [d.name, d.id]}
  /   br
  /   = f.submit
