h1 align = 'center'  Disk #{@disk.volume}
div class='container-fluid'
  = link_to 'Edit', '#', id: "editButton"
  #edit_form
    = render 'disks/edit_disk', method: :patch
div class='container-fluid'
  = link_to 'Delete', @disk, method: :delete, data: { confirm: 'Are you sure?' }
div class='container-fluid'
  table class="table table-bordered"
    tr
      th unit
      th volume
      th sms group
      th capacity
      th utilization
      th pprc secondary
      th dev/test/acc/prod
      th added at
      th department
      th content
      th software
      th systems
      th owner
    = render @disk
    / = render 'disks/edit_disk
h2 Utilization chart
div class='container-fluid'
  #disk-chart
    = column_chart utilization_chart(@disk)
