h1 align = 'center'  Group #{@group.name}
div class='container-fluid'
  h2 Disk list:
  - @group.disks.each do |disk|
    br
    |Unit:
    = link_to disk.unit.to_s(16), disk_path(disk)
    br
    |Volume:
    = disk.volume
    br
    |Capacity:
    = disk.capacity
    br
    |Utilization:
    = disk.utilization
    br
    |Scope:
    = disk.dtap
    p
h2 Group utilization chart
div class='container-fluid'
  #group-util-chart
    = column_chart utilization_chart(@group)
