<!DOCTYPE html>
<html>
<head>
  <title>Dasd</title>
  <%= csrf_meta_tags %>
  <meta charset="UTF-8">
  <meta name=viewport content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light bg-light inline">
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      Menu
    </button>
    <div class="collapse" id="collapseExample">
      <div class="well">
        <a class="nav-link" href='/'>Disks</a>
        <br>
        <a class="nav-link" href='/groups'>Storage Groups</a>
        <br>
        <a class="nav-link" href=differences_path>Differences</a>
        <br>
        <a class="nav-link" href='/disks/new'>Create new Disk</a>
        <br>
        <a class="nav-link" href=/import>Import data</a>
        <br>
        <a class="nav-link" href=/export>Export data</a>
      </div>
    </div>
    <p>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </nav>
</div>
<%= yield %>
<%= render "layouts/footer" %>
</body>
</html>
